/* Hide scrollbars in WebKit-based browsers (like Chrome, Safari) */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in Firefox */
html {
  scrollbar-width: none; /* For Firefox */
}

/* Hide scrollbars for all elements in WebKit-based browsers */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for all elements in Firefox */
* {
  scrollbar-width: none; /* For Firefox */
}

.mute-button{
  background: transparent;
  color: rgba(0, 255, 255);
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px double rgba(0, 255, 255);
}